@tailwind components;
@tailwind utilities;

#__root {
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 100;
  overflow: hidden;
}

#sf-advanced-ext-container {
  display: flex;
  justify-content: safe center;
  padding: 0.5rem 0;
  overflow-x: auto;
}

#sf-advanced-ext-container * {
  margin: 0;
}

#main-input {
  padding-top: 0;
  padding-bottom: 0;
  height: 28px;
  background-color: #f9f7f5;
}

#main-input:focus {
  background-color: #fff;
}
