@tailwind components;
@tailwind utilities;

#__root {
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 100;
  overflow: hidden;
}

#sf-advanced-ext-container {
  display: flex;
  justify-content: safe center;
  padding: 0.5rem 0;
  overflow-x: auto;
}

#sf-advanced-ext-container * {
  margin: 0;
}

#sf-advanced-ext-container .form-input {
  padding: 8px 6px;
}

#sf-advanced-ext-container select.form-input {
  padding-right: 20px;
  background-size: auto 35%;
  background-position: right 4px top 12px;
}
